<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tank.mytrimetpro">

    <!-- uses-permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.tank.mytrimetpro.MyTrimetApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2Jd4ttrDs5qUnHn8vqpiQhQDO9vtib_s"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="mytrimetpro3.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.tank.mytrimetpro.data.Destination"/>

        <activity android:name=".destinations.DestinationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tank.mytrimetpro.destinations.DestinationActivity"/>
        </activity>

    </application>

</manifest>